.hide-job-button {
    position: absolute !important;
    left: 10px !important;
    top: 10px !important;
    width: 24px !important;
    height: 24px !important;
    border-radius: 50% !important;
    background-color: #fd0202 !important;
    border: none !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important;
    z-index: 1 !important;
}

.hide-job-button svg {
    width: 16px !important;
    height: 16px !important;
    fill: white !important;
}

.hide-job-button:hover {
    background-color: #ebd22fe0 !important;
}

.job-card-hidden {
    display: none !important;
} 